body {
    background-color: rgb(174, 183, 200);
    color: rgb(153,153,153);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
	
}

footer {
	
	font-size: 90%;
	
}
